---

layout: page
permalink: /gwnr-seminar/
my_header: gwnr-seminar-header.html

---

<table id="table"
       data-toggle="table"
       data-pagination="true"
       data-classes="table table-hover"
       data-thead-classes="thead-light"
       data-sortable="false"
       data-page-size=10
       data-mobile-responsive="true"
       data-check-on-init="true"
       data-buttons-class="secondary">
  <thead>
    <tr>
      <th data-field="cnt">회차</th>
      <th data-field="title">제목</th>
      <th data-field="presenter">발표자</th>
      <th data-field="date">날짜</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.categories.gwnr-seminar %}
      <tr>
        <td>{{ item.Count }}</td>
        <td>
          <a class="text-reset text-decoration-none" href="{{ item.url }}">
            {{ item.title }}

            {% assign today = site.time | date: '%s' %}
            {% assign start = item.date | date: '%s' %}
            {% assign secondsSince = today | minus: start %}
            {% assign daysSince = secondsSince | divided_by: 60 | divided_by: 60 | divided_by: 24 %}
            {% if daysSince <= site.new_badge %}
              <span class="badge badge-primary">new</span>
            {% endif %}
            
          </a>
        </td>
        <td>{{ item.presenter }}</td>
        <td>{{ item.date | date: "%Y"}}년 {{ item.date | date: "%m"}}월 {{ item.date | date: "%d"}}일
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>
