@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{font-family: 'Nanum Gothic', sans-serif;}
.jumbotron {
    padding-top: 2%;
    padding-bottom: 2%;
  }
.table-row{
  cursor:pointer;
  }
.pagination-detail{
  display:none;
}
.clickable{
  cursor:pointer;
}
.navbar-default {
  background-color: #354f80;
}
.footer-default {
  background-color: #354f80;
}
.bg-card-default {
  background-color: #ebf2ff;
}
.btn-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }