@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{font-family: 'Nanum Gothic', sans-serif;}
.jumbotron {
    padding-top: 2%;
    padding-bottom: 2%;
  }
.table-row{
  cursor:pointer;
  }
.pagination-detail{
  display:none;
}
