---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include navigation.html %} 
  <!-- Page Content -->
  {{ content }}
  <!-- /.container -->
  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</body>

</html>
