---
layout: default
---
{% if page.my_header %}
  {% include {{ page.my_header }} %}
{% else %}
  {% include header.html %}
{% endif %}

<div class="container-fluid mb-3">
  <!-- 메인페이지 중요사항 공지-->
<div class="row">

  <!--
    전체 칼럼 크기는 12. 화면의 크기에 따라 배치가 어떻게 될지 정한다.
    6: 2칼럼 4: 3칼럼 3: 4칼럼
    lg: 큰화면 (데스크탑), md: 중간화면 (테블릿), sm: 작은화면 (스마트폰)
  -->
  {% for item in page.news %}

    <!-- 카드 -->
    <div class="col-lg-6 col-md-6 my-2">
      <div class="card border-light bg-light">
        <div class="card-body">
          <h4 class="card-title text-justify mb-3">
            {{ item.title }}
            {% if item.history_url != nil and item.history_url.size != 0 %}
            <a class="btn btn-light btn-sm float-right" href="{{ item.history_url }}" role="button"><h4>+</h4></a>
            {% endif %}
          </h4>
          <p class="card-text text-justify">
            {{ item.comments }}
          </p>
          {% if item.url != nil and item.url.size != 0 %}
          <a href="{{ item.url }}" class="btn btn-secondary btn-sm btn-text float-right">
            {% if item.button != nil and item.button != 0 %}
              {{ item.button }}
            {% else %}
              자세히보기
            {% endif %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- 카드 끝 -->
    
  {% endfor %}

    
  </div>
</div>

